body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fcdfff;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  display: block;
  
  
}

#image-container {
  border: 30px;
  display: flex;
  justify-content: center;
 height: min-content;
}

#image-container img {
  width: 40%;
  border: 30px;
  margin: 30px;
 max-height: 30rem;
}


